*.pyc
*.png
*.tif
*.tiff
*.npy
*.gif
*.pkl
debug/*
.DS_Store
4debsd_joint.py
results/.DS_Store
.venv/
*.up2
*.csv
*.xlsx
results/
AlteredPC-Jan5/
AlteredPC-Jan22/
Feb25-PC/
Feb24-PC/
Feb8_PCAnalysis/
Feb16_PCAnalysis/
Feb23-PC/
Feb27-PC/
Inputs/Patterns/
Inputs/EBSDpattern_Al_July222025.h5
Inputs/ErnouldMethod_ang.ang
Inputs/UP2 files/EBSDpattern_Al_July222025.h5
Inputs/Al_master_July222025.h5
